
html {
    font-family: sans-serif;
}

h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 45px;
    font-style: normal;
}

h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
}

h3 { 
    font-family: futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 20px; font-style: semibold; 
    font-variant: normal; 
    font-weight: 700; line-height: 15.4px; 
} 

h4 { 
    font-family: futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 18px; font-style: bold; 
    font-variant: normal; 
    font-weight: 400; line-height: 20px; 
}

h5 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 18px; font-style: normal; 
    font-variant: normal; 
    font-weight: 400; line-height: 20px; 
}

h6 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 16px; font-style: normal; 
    font-variant: normal; 
    font-weight: 400; line-height: 20px; 
}

p { 
    font-family: open-sans, sans-serif;
    font-weight: 300; 
    font-size: 15px;   
    font-style: normal;
}
/* 
.button {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    padding: 1em 1.2em;
    background: #96a5f3;
    color: white;
    font-size: 20px;
    border-radius: 2em;
    border: none;
    border-bottom: 12px solid #0b1f85;
    cursor: pointer;
} */


  
.javascript {
    padding-left: 100px;
}

body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    padding: 1.89em;
    position: sticky;
    top: 0;
    font-family: futura-pt, "Trebuchet MS", Arial, sans-serif; 
    font-size: 21px; font-style: normal; 
    font-variant: medium; 
    font-weight: 400; line-height: 20px; 
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

nav a {
    color: rgb(78, 61, 61);
    text-decoration: none;
    padding: .5em 1em;
} 
  
/* .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
} */
  

.drum {
    position: relative;
	width: 600px;
	margin: -100px auto 0;
}

.drum-kit {
    width: 640px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .drum-kit {
    max-width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

/* .drumKeys {
	display: inline-block;
	transition: all ease-in-out .042s;
	position: absolute;
	background: #59b1f5;
    font-size: 1.5em;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 4px;
    border: 3px solid rgb(6, 63, 132);
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0,0,0,.65);
    z-index: 2;
} */

.key {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;   
	display: inline-block;
	transition: all ease-in-out .042s;
	position: absolute;
	background: #8be8ff;
    /* height: 32px;
    width: 32px; */
    border-radius: 4px;
    border: 4px solid rgb(55, 149, 217);
    color: rgb(14, 31, 109);
    box-shadow: 1px 1px 1px rgba(0,0,0,.65);
    z-index: 2;
}

/* .drumKeys {
    border: 0.4rem solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0.5rem black;
} */

.key.k {
    text-align: center;
    top: 540px;
    right: 850px;
    height: 32px;
    width: 40px;
    padding: 10px 12px 20px 10px;

}

.key.s {
    text-align: center;
    right: 650px;
    top: 350px;
    height: 40px;
    width: 50px;
    padding: 10px 10px 10px 10px;

}

.key.t {
    text-align: center; 
	top: 450px;
    left: 485px;
    height: 50px;
    width: 70px;
    padding-top: 10px;
    
}

.key.c {
    text-align: center;
	top: 180px;
    left: 520px;
    height: 50px;
    width: 70px;
    padding-top: 10px;
}

.key.r {
    text-align: center;
	left: 660px;
    top: 140px;
    height: 50px;
    width: 60px;
    padding-top: 12px;
}

.key.ho {
	text-align: center;
	right: 675px;
    top: 210px;
    height: 50px;
    width: 85px;
    padding-top: 10px;
}

.key.hc {
    text-align: center;
	right: 510px;
    top: 210px;
    height: 50px;
    width: 85px;
    padding-top: 10px;

}

/* .playing {
	transform: scale(1.12);
} */

a:link, a:visited {
    color: #0c72b6;
}

a:hover {
    text-decoration: none;
    color: rgb(82, 105, 250);
}

.playing {
    transform: scale(1.5);
    border-color: #e8faff;
    box-shadow: 0 0 1rem #90e8fc;
  }
  
























