
html {
    font-family: sans-serif;
}

h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 45px;
    font-style: normal;
}

h3 { 
    font-family: futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 20px; font-style: semibold; 
    font-variant: normal; 
    font-weight: 700; line-height: 15.4px; 
} 

h4 { 
    font-family: futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 18px; font-style: bold; 
    font-variant: normal; 
    font-weight: 400; line-height: 20px; 
}

h5 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 18px; font-style: normal; 
    font-variant: normal; 
    font-weight: 400; line-height: 20px; 
}

h6 { 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 16px; font-style: normal; 
    font-variant: normal; 
    font-weight: 400; line-height: 20px; 
}

p { 
    font-family: open-sans, sans-serif;
    font-weight: 300; 
    font-size: 15px;   
    font-style: normal;
}

@media screen and (max-width: 400px) {
    /* article {
        width: 210mm;
        height: 297mm;
        margin: 20px auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    body {
        margin: 5;
        background: rgb(255, 255, 255);
        overflow-x: hidden;
    }
    
    nav {
        padding: 3em;
        position: sticky;
        top: 0;
        font-family: futura-pt, "Trebuchet MS", Arial, sans-serif; 
        font-size: 21px; font-style: normal; 
        font-variant: medium; 
        font-weight: 400; line-height: 20px; 
    }
    
    nav ul {
        margin: 20px;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    nav a {
        color: rgb(78, 61, 61);
        text-decoration: none;
        padding: .5em 1em;
    } 

    h1 {
        font-family: Eina 01, "Trebuchet MS", Arial, sans-serif; 
        font-size: 30px; font-style: normal; 
        font-variant: normal; font-weight: 700; 
        line-height: 26.4px;    
    }
    
}

@media screen and (min-width: 400px) {
    /* article {
        width: 210mm;
        height: 297mm;
        margin: 20px auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    button {
        padding: 1em 1.2em;
        background: #96a5f3;
        color: white;
        font-size: 20px;
        border-radius: .3em;
        border: none;
        border-bottom: 4px solid #0b1f85;
        cursor: pointer;
      }
      
    section {
        max-width: 700px;
        margin: 2em auto;
        font-size: 1.2em;
        line-height: 1.5;
        color: #2b2c3b;
        text-align: center;
      }
      
      .hidden-section {
          display: none;
      }
      .hidden-section.reveal {
          display: block;
      }
    
    .aboutTitle h1 {
        padding-left: 300px;
        margin-top: -10px;
    }

    .profilePicture {
        float:left;
        height: 170px;
        width: 170px;
        padding-left: 80px;
    }
    .aboutPhotos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 4  px;
        list-style: none;
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }

    .aboutTitle p {
        padding-left: 300px;
        padding-bottom: 20px;
    }
    .contactName {
        padding-left: 100px;
    }

    .info h6, h2, h3, h4, p{
        padding-left: 100px;
    }

    .info p {
        padding-bottom: 1px;
    }

    .redbubble p {
        padding-bottom: 18px;
    }

    .insta p{
        padding-bottom: 3px;
    }

    a:link, a:visited {
        color: #0c72b6;
    }

    a:hover {
        text-decoration: none;
        color: rgb(82, 105, 250);
    }

    .instagram {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        list-style: none;
        margin: 0;
        padding-left: 100px;
        padding-right: 50px;
    }

    .galleryTitle {
        padding-left: 100px;
    }

    .galPhotos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        list-style: none;
        margin: 0;
        padding-left: 50px;
        padding-right: 20px;
    }
    
    .resumePic {
        padding-left: 200px;
    }

    .resume {
        padding-left: 100px;
    }

    .javascript {
        padding-left: 100px;
    }

    .homeName {
        height: 35em;
        display: flex;
        align-items: center;
    }

    .homeName p {
        padding-left: 450px;
        padding-top: 90px;
        width: 600px;
        text-align: center;
    }

    .homeName h1 {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    body {
        margin: 5;
        background: rgb(255, 255, 255);
        overflow-x: hidden;
    }
    

    nav {
        padding: 1.5em;
        position: sticky;
        top: 0;
        font-family: futura-pt, "Trebuchet MS", Arial, sans-serif; 
        font-size: 21px; font-style: normal; 
        font-variant: medium; 
        font-weight: 400; line-height: 20px; 
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    nav a {
        color: rgb(78, 61, 61);
        text-decoration: none;
        padding: .5em 1em;
    } 
}

