h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 45px;
    font-style: normal;
    text-align: center;
}

body {
  width: 700px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 700px;
  height: 960px;
}

.displayed-img {
    position: relative;
    display: block;
    margin: auto;
    max-width: 700px;
    max-height: 960px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 960px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  position: sticky;
  top: 0;
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}