* {
  box-sizing: border-box;
}

body {
  background-color: #5d8dbd;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  letter-spacing: 1px; 
  text-align: center;
}

.header {
  margin-top: 10px;
}

.container {
  background-color: #a4a7f7;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;  
  border-radius: 10px;
  box-shadow: 8px 8px 8px #4373b1, -8px -8px 8px #4373b1, 8px -8px 8px #4373b1, -8px 8px 8px #4373b1;
  
}

.images, .buttons  {
  display: flex;
  align-items: center;
  justify-content: space-around;   
  flex-wrap: wrap; 
  width: 100%;  
}

#random-img {
  background-color: #fff;
  margin: 10px;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

#random-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

#btn-img {
  margin: 10px;
  padding: 2px 12px;
  border-radius: 5px;
  outline: none;  
  font-family: inherit;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  background-color: #33bbe4;
}